.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width:50vw;
  height: 50vh;
  
}

h1{
  font-size: 2rem;
}

img {
  width:460px;
  height: auto;
  border-radius: var(--radius) ;
  transform:scale(1);
  transition:0.5s;
  margin-bottom:20px;
}

img:hover{
  transform: scale(1.1);
}
